.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}
.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-slide .content {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
.about-section {
  background-color: #f8f9fa;
  padding: 60px 0;
}

/* General styles for feature sections */
.features-section .d-flex {
  flex-direction: column; /* Default for small screens */
}

.features-section img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}

.features-section .text-center.text-lg-left {
  text-align: center;
}

/* Styles for larger screens */
@media (min-width: 992px) {
  .features-section .d-flex {
    flex-direction: row;
    align-items: center;
  }

  .features-section img {
    margin-bottom: 0;
  }

  .features-section .d-flex:nth-child(even) {
    flex-direction: row-reverse; /* Alternate image-text alignment */
  }

  .features-section .text-center.text-lg-left {
    text-align: left;
  }
}

#about-content {
  background: linear-gradient(to bottom, #f9f9f9, #ffffff);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  background: rgba(0, 123, 255, 0.1);
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
}

.text-primary {
  color: #007bff !important;
}

.text-secondary {
  color: #6c757d;
}

h1 span {
  font-weight: bold;
}

#team-section {
  background: #f8f9fa;
}

.team-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.accordion-button {
  background-color: #ffffff;
  color: #333;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.accordion-button:hover {
  background-color: #007bff;
  color: #fff;
}

.accordion-item {
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.accordion-body {
  font-size: 16px;
  color: #555;
}

h2 span {
  font-weight: bold;
}
